<h1>Cześć! Prosze potwierdź Twój email!</h1>

<p>
    Prosze potwierdź Twój email klikając poniższy link: <br><br>
    <a href="{{ signedUrl }}">Potwierdź Twój email</a>.
    Link będzie ważny przez {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Pozdrawiamy!
</p>
