<h1>Cześć! Potwierdź Twój email!</h1>

<p>
    Potwierdź Twój email klikając poniższy link: <br><br>
    <a href="{{ signedUrl }}">Potwierdź Twój email</a>.
    Link będzie ważny przez godzinę.
</p>

<p>
    Pozdrawiamy!
</p>
