{% extends 'base.html.twig' %}

{% block title %}Administracja{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <button type="button" class="btn btn-primary"><a href="{{ path('app_admin_users')}}" class="text-white text-decoration-none">Przydziel role użytnikom</a></button>
    <button type="button" class="btn btn-primary"><a href="{{ path('app_add_department')}}" class="text-white text-decoration-none">Dodaj dział</a></button>
</div>
{% endblock %}
