body {
    background-color: lightgray;
}

canvas{
    transform: rotate(90deg);
    height: 600px !important;
    margin-top: 23rem !important;
}

.chart-margin-top{
    margin-top: 9rem !important;
}

.start-42{
    left: 42% !important;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 0,
            'opsz' 48
}

.material-symbols-outlined-menu {
    font-variation-settings:
            'FILL' 0,
            'wght' 700,
            'GRAD' 0,
            'opsz' 40 !important;
}

