{% extends 'base.html.twig' %}


{% block title %}Projekt {{ project.name }}: Raport{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
    <div class="d-flex flex-row justify-content-center">
        <h1>Raport z projektu: {{ project.name }}</h1>
    </div>
    {% include'/projects/testValue/criteriesVariantsRaport.html.twig' %}
    {% if criteries|length >= 1 and variants|length >= 1 %}
        <div class="d-flex flex-row justify-content-center pt-5">
            <h2>Profile</h2>
        </div>
        <div class="container d-flex justify-content-center">
            {% include'/projects/thresholdValue/theresholdValue.html.twig' %}
        </div>
    {% include'/projects/testValue/compatibilityTest.html.twig' %}
    {% include'/projects/testValue/nonCompatibilityTest.html.twig' %}
    {% include'/projects/testValue/partialCredibilityIndex.html.twig' %}
    {% include'/projects/testValue/credibilityIndex.html.twig' %}
    {% include'/projects/testValue/relation.html.twig' %}
    {% include'/projects/testValue/assignedKlas.html.twig' %}
    {% endif %}
{% endblock %}

